.jumbotron{
    height: 100px;
    width: 80%;
    padding:10px;
    background-color: black;
    color: white;
    font-size: 45px;
    margin: 5px 20px 75px;
}
.jumbtron-container {
    display: flex;
    justify-content: center;
    align-items: center;
}